.swipe-page {
  background: linear-gradient(145deg, #242B33 20.6%, #141C26 62.54%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .swipe-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 90vh;
    border-radius: 40px;
    background: #3C4755;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .movie-stack {
      position: relative;
      margin-top: 10%;
      width: 370px;
      height: 555px;

      .movie-poster {
        position: absolute;
        width: inherit;
        height: inherit;
        transition: transform 0.5s ease;
      }
    }

    .swipe-buttons {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin-bottom: 10%;

      img {
        cursor: pointer;
      }
    }
  }
}

.movie-poster.likeSwipe {
    animation: rightSwipeAnimation 0.5s forwards; /* Apply swipe animation */
}
.movie-poster.dislikeSwipe {
    animation: leftSwipeAnimation 0.5s forwards; /* Apply swipe animation */
}


@keyframes rightSwipeAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(300px) rotate(30deg);
        opacity: 0;
    }
}

@keyframes leftSwipeAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(-300px) rotate(-30deg);
        opacity: 0;
    }
}