HELP.md

# System Files
**/.DS_Store/
**/__MACOSX/
Thumbs.db

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

**/dist
**/node_modules
**/.env.local
src/main/resources/env.properties

# IDE - Intellij
**/.idea/
*.iml
*.ipr
*.iws
**/target/
**/out/
**/dist/
*.lock

# IDE - VSCode
**/.vscode/
*.code-workspace

# data files excluded from git
**/data-files/
**/downloads/

# Log file
*.log

### Java ###
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# MS-office files
~$*.*

